* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #4A102A;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.box {
    width: 90vmin;
    height: 90vmin;
    background: url("saat.png") no-repeat center center;
    background-size: contain; /* Önemli: tam oturması için */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box .saat,
.box .dakika,
.box .saniye {
    position: absolute;
}

.st, .dk, .sy {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
}

/* Saat kollarının çerçeve genişlikleri */
.st, .box .saat {
    width: 60vmin;
    height: 60vmin;
}

.dk, .box .dakika {
    width: 70vmin;
    height: 70vmin;
}

.sy, .box .saniye {
    width: 80vmin;
    height: 80vmin;
}

/* Saat kolu */
.st::before {
    content: "";
    position: absolute;
    width: 2.4vmin;
    height: 30vmin;
    background: #85193C;
    border-radius: 10px;
    z-index: 10;
}

/* Dakika kolu */
.dk::before {
    content: "";
    position: absolute;
    width: 1.2vmin;
    height: 36vmin;
    background: #C5172E;
    border-radius: 10px;
    z-index: 11;
}

/* Saniye kolu */
.sy::before {
    content: "";
    position: absolute;
    width: 0.6vmin;
    height: 40vmin;
    background: #FCF259;
    border-radius: 10px;
    z-index: 12;
}
