* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #4A102A;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.box {
    width: 90vmin;  /* Ekrana uyumlu olarak genişlik ayarı */
    height: 90vmin; /* Ekrana uyumlu olarak yükseklik ayarı */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: url("saat.png") no-repeat center center;
    background-size: contain; /* Resmi içerikle uyumlu şekilde ölçekler */
    background-position: center center; /* Resmi daima ortalar */
}

.box .saat,
.box .dakika,
.box .saniye {
    position: absolute;
}

.st, .dk, .sy {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
}

/* Saat kollarının çerçeve genişlikleri */
.st, .box .saat {
    width: 60vmin;
    height: 60vmin;
}

.dk, .box .dakika {
    width: 70vmin;
    height: 70vmin;
}

.sy, .box .saniye {
    width: 80vmin;
    height: 80vmin;
}

/* Saat kolu */
.st::before {
    content: "";
    position: absolute;
    width: 2.4vmin;
    height: 30vmin;
    background: #85193C;
    border-radius: 10px;
    z-index: 10;
}

/* Dakika kolu */
.dk::before {
    content: "";
    position: absolute;
    width: 1.2vmin;
    height: 36vmin;
    background: #C5172E;
    border-radius: 10px;
    z-index: 11;
}

/* Saniye kolu */
.sy::before {
    content: "";
    position: absolute;
    width: 0.6vmin;
    height: 40vmin;
    background: #FCF259;
    border-radius: 10px;
    z-index: 12;
}

/* Mobile (telefon) için saat boyutunu küçültme */
@media (max-width: 767px) {
    .box {
        width: 80vmin;
        height: 80vmin;
    }

    .st, .box .saat {
        width: 50vmin;
        height: 50vmin;
    }

    .dk, .box .dakika {
        width: 60vmin;
        height: 60vmin;
    }

    .sy, .box .saniye {
        width: 70vmin;
        height: 70vmin;
    }

    .st::before {
        width: 2vmin;
        height: 25vmin;
    }

    .dk::before {
        width: 1vmin;
        height: 28vmin;
    }

    .sy::before {
        width: 0.5vmin;
        height: 32vmin;
    }
}
